* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    /* border: 1px solid red; */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    min-height: 80vh;
}


/* MAIN NAVBAR */


nav .bx {
    font-size: 1.5rem;
}

.ecovibe-logo svg {
    height: 50px;
    width: 170px;
}

.form-check-input:checked {
    background-color: #198754;
}

.form-control:focus {
    border-color: #75b798;
    outline: 0;
    box-shadow: none;
}

.form-select:focus {
    border-color: #75b798;
    outline: 0;
    box-shadow: none;
}

.form-check-input:focus {
    border-color: #75b798;
    outline: 0;
    box-shadow: none;
}

#search-bar {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    outline: none;
    box-shadow: none;
}

.navbar-toggler {
    border: 1px solid transparent;
    box-shadow: none;
    outline: none;
}

.navbar-toggler:focus {
    border: 1px solid transparent;
    box-shadow: none;
    outline: none;
}

#search-icon {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.dropdown-menu .dropdown-item:active {
    background-color: #198754;
}

.login-icon, .cart-icon, .filter .wishlist {
    border: 1px solid transparent;
}

.wishlist .bx {
    font-size: 2rem;
    color: #ffffff !important;
    padding: 0.33rem;
    margin: 0;
    border: none;
}

.wishlist:hover {
    background-color: #198754;
    border-radius: 50%;
    border: none;
    box-shadow: 0 .5rem 1rem #ffffff26;
}

.page-item a {
    color: #198754;
    background-color: #ffffff;
}

.page-item a:hover {
    color: #000000;
    background-color: #ffffff;
}

.page-item a:focus {
    color:#000000;
    background-color: #ffffff;
    box-shadow: none;
}


/* SECOND NAVBAR LINE */


.second-navbar div {
    white-space: nowrap;
    font-size: 0.8rem;
}

.second-navbar a:hover {
    text-decoration: underline;
}


/* MAIN CONTENT */


    /* CAROUSEL BANNER */


.custom-caption {
    text-align: left;
    text-shadow: 2px 2px 4px #000000;
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    left: 9%;
}

.custom-caption p {
    font-size: 1.1rem;
}


    /* WELCOME */


.welcome-card {
    border-radius: 0;
}

.welcome-card img {
    border-radius: 0;
    opacity: 0.75;
}

.welcome-card h1, .welcome-card p {
    text-shadow: 1px 1px 4px #ffffff;
}

.about-us-card {
    border-radius: 0;
}

.about-us-card h1, .about-us-card p {
    color: #ffffff;
    max-width: 75%;
    text-shadow: 1px 1px 4px #000000;
}

.contact-us-card {
    border-radius: 0;
}

.contact-us-card h1, .contact-us-card p {
    color: #ffffff;
    max-width: 75%;
    text-shadow: 1px 1px 4px #000000;
}

.get-in-touch a:hover {
    color: #198754;
}


    /* FEATURED PRODUCTS */


#featured-products .card:hover, .product-card .card:hover, .category-card:hover {
    cursor: pointer;
    box-shadow: 0 .5rem 1rem #19875426;
}

#featured-products .bx, .product-card .bx{
    color: #198754;
}

.featured-product-text {
    text-shadow: 1px 1px 4px #000000;
}

#featured-product-1 {
    background-image: url(./assets/energy-bliss.svg);
    background-repeat: no-repeat;
}

#featured-product-2 {
    background-image: url(./assets/eco-chic-living.svg);
    background-repeat: no-repeat;
}

#featured-product-3 {
    background-image: url(./assets/water-serenity.svg);
    background-repeat: no-repeat;
}

#featured-product-4 {
    background-image: url(./assets/pure-comfort.svg);
    background-repeat: no-repeat;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    padding: 20px;
}

.card:hover .overlay {
    display: flex;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-body .bx {
    color: #198754;
}

.custom-category-card-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2px;
    color: white;
    width: 100%;
    text-shadow: 1px 1px 4px #000000;
}

.breadcrumb-item:not(active) {
    color: #198754;
}


    /* REVIEWS, GUIDES, & BLOGS */


.sentence-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.customer-review-items {
    transition: transform 1s ease-in-out;
}

.customer-review {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.truncate-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.achievement-card {
    border: 1px solid #d2d2d2;
    border-radius: 5px;
}

.achievement-card img {
    width: 64px;
    height: 64px;
}

.achievement-card .bx {
    color: #009b1e;
}

.achievement-card a:hover {
    color: #000000;
}


/* FOOTER */


footer h5 {
    font-size: 1rem;
    font-weight: bold;
}

footer h6 {
    font-size: 0.8rem;
    font-weight: bold
}

footer li {
    font-size: 0.8rem;
}

footer a:hover {
    color: #198754;
}

footer p {
    font-size: 0.9rem;
}

footer .bx {
    font-size: 3rem;
    color: #004b03;
}

footer .bx:hover {
    color: #198754;
}

.list-group-item {
    border: none;
    background-color: transparent;
}

.svg-cards img {
    width: 62px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 1px 1px #198754;
    
}

.footer-ecovibe-logo svg {
    height: 80px;
    width: 272px;
}


/* SECOND FOOTER */


.second-footer {
    font-size: 0.8rem;
}
