* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    /* border: 1px solid red; */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}


/* MAIN NAVBAR */


nav .bx {
    font-size: 1.5rem;
}

.ecovibe-logo svg {
    height: 50px;
    width: 170px;
}

.form-check-input:checked {
    background-color: #198754;
}

.form-control:focus {
    border-color: #75b798;
    outline: 0;
    box-shadow: none;
}

.form-select:focus {
    border-color: #75b798;
    outline: 0;
    box-shadow: none;
}

.form-check-input:focus {
    border-color: #75b798;
    outline: 0;
    box-shadow: none;
}

#search-bar {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    outline: none;
    box-shadow: none;
}

.navbar-toggler {
    border: 1px solid transparent;
    box-shadow: none;
    outline: none;
}

.navbar-toggler:focus {
    border: 1px solid transparent;
    box-shadow: none;
    outline: none;
}

#search-icon {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.dropdown-menu .dropdown-item:active {
    background-color: #198754;
}

.login-icon, .cart-icon {
    border: 1px solid transparent;
}


/* SECOND NAVBAR LINE */


.second-navbar div {
    white-space: nowrap;
    font-size: 0.8rem;
}

.second-navbar a:hover {
    text-decoration: underline;
}


/* MAIN CONTENT */


    /* CAROUSEL BANNER */


.custom-caption {
    text-align: left;
    text-shadow: 2px 2px 4px #000000;
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    left: 9%;
}

.custom-caption p {
    font-size: 1.1rem;
}


/* FOOTER */

footer h5 {
    font-size: 1rem;
    font-weight: bold;
}

footer h6 {
    font-size: 0.8rem;
    font-weight: bold
}

footer li {
    font-size: 0.8rem;
}

footer li:hover {
    color: #198754;
}

footer p {
    font-size: 0.9rem;
}

footer .bx {
    font-size: 3rem;
    color: #198754;
}

.list-group-item {
    border: none;
    background-color: transparent;
}

.svg-cards img {
    width: 62px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 1px 1px #198754;
    
}

.footer-ecovibe-logo svg {
    height: 80px;
    width: 272px;
}
